# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
! pip install numpy pandas --upgrade --quiet
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [6]:
from urllib.request import urlretrieve
urlretrieve('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', 'chipotele.csv')

('chipotele.csv', <http.client.HTTPMessage at 0x1638915c390>)

### Step 3. Assign it to a variable called chipo.

In [13]:
chipotele_df = pd.read_csv('chipotele.csv', sep = '\t') 
chipotele_df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [18]:
chipotele_df.order_id.count()
chipotele_df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 4. How many products cost more than $10.00?

In [54]:
# Removing the $ symbol 
str_item_price_symbol = chipotele_df.item_price.str.replace('$','')

# Removing the spaces 
str_item_price = str_item_price_symbol.str.strip()

# Converting str to float
float_item_price = str_item_price.astype(float)

C:\Users\Shaswath\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [72]:
item_price_greater_than_10 = chipotele_df[float_item_price > 10]
count_item_price = item_price_greater_than_10.item_price.count()
count_item_price

1130

In [73]:
print('There are {} products that costs more than $10.00'.format(count_item_price))

There are 1130 products that costs more than $10.00

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [78]:
item_price_greater_than_10[['item_name','item_price']]

               item_name item_price
4           Chicken Bowl    $16.98
5           Chicken Bowl    $10.98
7          Steak Burrito    $11.75
13          Chicken Bowl    $11.25
23       Chicken Burrito    $10.98
...                  ...        ...
4610       Steak Burrito    $11.75
4611      Veggie Burrito    $11.25
4617       Steak Burrito    $11.75
4618       Steak Burrito    $11.75
4619  Chicken Salad Bowl    $11.25

[1130 rows x 2 columns]

In [75]:
item_price_greater_than_10.count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. ow many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?