# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
ls

 Volume in drive F is DATA
 Volume Serial Number is 96D0-D64F

 Directory of F:\code-hunters\purple-octopus-project\purple-octopus

05/23/2021  01:06 PM    <DIR>          .
05/23/2021  01:06 PM    <DIR>          ..
05/23/2021  01:02 PM    <DIR>          .ipynb_checkpoints
05/23/2021  01:06 PM           364,975 chipotle.tsv.txt
05/23/2021  12:52 PM             2,365 et --hard 11519b8bac5f1cdd07ac898e03214a734b16af33^
05/23/2021  01:06 PM             3,733 guipsamora_Exercises_sorting.ipynb
05/22/2021  02:41 PM                68 Index.txt
               4 File(s)        371,141 bytes
               3 Dir(s)  506,689,056,768 bytes free

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo=pd.read_csv("chipotle.tsv.txt",sep="\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [10]:
chipo.item_price=chipo.item_price.map(lambda x: float(x[1:]))

In [14]:
chipo[chipo.item_price>10].shape[0]

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

In [19]:
chipo[chipo.item_price==chipo.item_price.max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?